@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  font-family: 'Lexend', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--primary-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #523c86;
  --color-primary-2: #b9afd1;
  --color-primary-3: #3d2e5f;
  --form-bg: #fbfbfb;
  --primary-bg: #FAFAFE;
}
